<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hacathon_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ForgotActivity"></activity>
        <activity
            android:name=".EmailVerificationDoctor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".EmailVerification"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".Time_recycleractivity"
            android:label="Scheduled Timings" />
        <activity
            android:name=".MainActivity"
            android:label="User`s Login" />
        <activity
            android:name=".DoctorLogin"
            android:label="Doctor`s Login" />
        <activity
            android:name=".DoctorRegisterActivity"
            android:label="Doctor`s Registration" />
        <activity
            android:name=".IssueRecycler_Activity"
            android:label="Issue Received" />
        <activity
            android:name=".Timesheduler"
            android:label="Plan Schedule" />
        <activity
            android:name=".HealthIssue_Form"
            android:label="Issue Form" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".Dashboard"
            android:label="Dashboard" />
        <activity
            android:name=".Dashboard_Doctor"
            android:label="Dashboard" />
        <activity
            android:name=".SwitchActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>